* {
    box-sizing: border-box;
}

.gridImage {
    width: 99%;
    height: 99%;
    display: block;
    margin: auto auto auto auto;
    background-color:white;
}

.grid {
    background: white;
}

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

/* ---- .grid-item ---- */

.grid-item {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--width3 {
    width: 300px;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.tmpText {
    font-size: 50px;
    text-align:center;
}* {
    box-sizing: border-box;
}

.gridImage {
    width: 99%;
    height: 99%;
    display: block;
    margin: auto auto auto auto;
    background-color:white;
}

.grid {
    background: white;
}

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

/* ---- .grid-item ---- */

.grid-item {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--width3 {
    width: 300px;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.tmpText {
    font-size: 50px;
    text-align:center;
}
.placeholderText {
    margin-top: 15%;
}