@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<div class='impressum'>
    <p>Angaben gemäß § 5 TMG</p><p>
        Maximilian Anzinger <br>
        Bürgermeister-Moster-Straße. 5<br>
        84332 Hebertsfelden <br>
    </p><p>
        <strong>Vertreten durch: </strong><br>
        Maximilian Anzinger<br>
    </p><p>
        <strong>Kontakt:</strong> <br>
        Telefon: +49-(0)15773452411<br>
        E-Mail: <a href='mailto:max.anzinger@hotmail.com'>max.anzinger@hotmail.com</a></br>
    </p><br>
    Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach</a>
</div>


<p>Bilderquellen:</p>

<table id="sources">
    <tr>
        <th>Seite</th>
        <th>Author</th>
        <th>Beschreibung</th>
        <th>Quelle</th>
        <th>Lizenz</th>
        <th>Bearbeitungshinweis</th>
    </tr>
</table>

@section Scripts  {
    <script type="text/javascript">
        window.onload = function exampleFunction() {
            fillSources()
        }
        function fillSources() {
            $.post("@Url.Action("GetImageSources","Legal")", function (data) {
                console.log(data);
                   fillTable(data);
               });
        }
        function fillTable(data) {
            var Parent = document.getElementById('sources');
            var newRow = Parent.getElementsByTagName('tbody')[0].insertRow();
            data.forEach(source => {
                newRow = document.getElementById('sources').getElementsByTagName('tbody')[0].insertRow();
                newRow.insertCell(0).appendChild(document.createTextNode(source.page));
                newRow.insertCell(1).appendChild(document.createTextNode(source.author));

                var sourcelink = document.createElement("a");
                sourcelink.setAttribute("href", source.source);
                var sourceLinkText = document.createTextNode("Link");
                sourcelink.appendChild(sourceLinkText);

                newRow.insertCell(2).appendChild(document.createTextNode(source.description));
                newRow.insertCell(3).appendChild(sourcelink);

                var licenseLink = document.createElement("a");
                licenseLink.setAttribute("href", source.license);
                var licenseLinkText = document.createTextNode("License");
                licenseLink.appendChild(licenseLinkText);

                newRow.insertCell(4).appendChild(licenseLink);
                newRow.insertCell(5).appendChild(document.createTextNode(source.customizations === null ? "Keine" : source.customizations));
            });
        }
    </script>
}