@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>
    Maximilian Anzinger<br />
    B&uuml;rgermeister-Moser-Stra&szlig;e.5<br />
    84332 Hebertsfelden
</p>

<h2>Kontakt</h2>
<p>
    Telefon: +4915773452411<br />
    Fax: +4987211274177<br />
    E-Mail: max.anzinger@hotmail.com
</p>

<h3>Haftung f&uuml;r Inhalte</h3> <p>Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.</p> <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<h3>Haftung f&uuml;r Links</h3> <p>Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p> <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
<h3>Urheberrecht</h3> <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet.</p> <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

<p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
<p>Bilderquellen:</p>

<table id="sources">
    <tr>
        <th>Seite</th>
        <th>Author</th>
        <th>Beschreibung</th>
        <th>Quelle</th>
        <th>Lizenz</th>
        <th>Bearbeitungshinweis</th>
    </tr>
</table>

@section Scripts  {
    <script type="text/javascript">
        window.onload = function exampleFunction() {
            fillSources()
        }
        function fillSources() {
            $.post("@Url.Action("GetImageSources","Legal")", function (data) {
                console.log(data);
                   fillTable(data);
               });
        }
        function fillTable(data) {
            var Parent = document.getElementById('sources');
            var newRow = Parent.getElementsByTagName('tbody')[0].insertRow();
            data.forEach(source => {
                newRow = document.getElementById('sources').getElementsByTagName('tbody')[0].insertRow();
                newRow.insertCell(0).appendChild(document.createTextNode(source.page));
                newRow.insertCell(1).appendChild(document.createTextNode(source.author));

                var sourcelink = document.createElement("a");
                sourcelink.setAttribute("href", source.source);
                var sourceLinkText = document.createTextNode("Link");
                sourcelink.appendChild(sourceLinkText);

                newRow.insertCell(2).appendChild(document.createTextNode(source.description));
                newRow.insertCell(3).appendChild(sourcelink);

                var licenseLink = document.createElement("a");
                licenseLink.setAttribute("href", source.license);
                var licenseLinkText = document.createTextNode("License");
                licenseLink.appendChild(licenseLinkText);

                newRow.insertCell(4).appendChild(licenseLink);
                newRow.insertCell(5).appendChild(document.createTextNode(source.customizations === null ? "Keine" : source.customizations));
            });
        }
    </script>
}