@{
    ViewData["Title"] = "Willkommen!";
}

<div id="fullpage">
    <div class="section">
        <div class="maxProfile d-none d-lg-block">
            <img src="~/imgs/maxProfileBack.jpg" alt="wideScreenPicture" id="profileBack">
            <div class="top-left-text">Hi, Ich bin Max!<br />Software-Entwickler <br /> Student und Volleyballer</div>
        </div>
        <div class="d-lg-none">
            <img src="~/imgs/maxProfileFront.jpeg" alt="smallScreenPicture" id="profileBack" />
        </div>
    </div>
    <div class="section">
        <p class="lifeTitle">Arbeit</p>
        <div class="row">
            <div class="col-6 d-none d-lg-block">
                <img src="~/imgs/gabLogo.png" alt="gabLogo" id="gabImage" />
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12 careerSection">
                <table class="career-table">
                    <thead>
                        <tr>
                            <th>Jahr</th>
                            <th>Position</th>
                            <th>Firma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2019</td>
                            <td>Junior Developer</td>
                            <td>GAB Exactly IT Solutions GmbH</td>
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td>Werkstudent</td>
                            <td>TH-Deggendorf (Go-eroad)</td>
                        </tr>
                        <tr>
                            <td>2017-2018</td>
                            <td>Aushilfe</td>
                            <td>RSI - PV Park Bruck</td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>Ferienarbeiter</td>
                            <td>Mann + Hummel</td>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>Ferienarbeiter</td>
                            <td>Bäcker Bachmeier</td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>Ferienarbeiter</td>
                            <td>Bäcker Bachmeier</td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td>Ferienarbeiter</td>
                            <td>Bäcker Bachmeier</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section">
        <p class="lifeTitle" >Studium // Schule</p>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12 careerSection">
                <table class="student-table">
                    <thead>
                        <tr>
                            <th>Jahr</th>
                            <th>Fachrichtung</th>
                            <th>Institut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2019-2021</td>
                            <td>Interaktive Systeme</td>
                            <td>Technische Hochschule Deggendorf</td>
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td>Environmental Studies and Computer Science</td>
                            <td>Lakehead University</td>
                        </tr>
                        <tr>
                            <td>2017-2018</td>
                            <td>Angewandte Informatik</td>
                            <td>Technische Hochschule Deggendorf</td>
                        </tr>
                        <tr>
                            <td>2009-2017</td>
                            <td>Abitur</td>
                            <td>Karl-von-Closen Gymnasium</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 d-none d-lg-block">
                <img src="~/imgs/thdLogo.png" alt="gabLogo" id="thdImage" />
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                //options here
                autoScrolling: true,
                scrollHorizontally: false
            });
        });
    </script>
}

