@{
    ViewData["Title"] = "Willkommen!";
}
<div class="maxProfile d-none d-lg-block">
    <img src="~/imgs/maxProfileBack.jpg" alt="widescreenPicture" id="profileBack">
    <div class="top-left-text">Hi, Ich bin Max!<br />Software-Entwickler <br /> Student und Volleyballer</div>
</div>
<div class="d-lg-none">
    @*Do Some mobile stuff*@
</div>